# Configuration for clang-format
# Based on Google style with some Arduino-friendly modifications

BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

# Brace styles
BreakBeforeBraces: Attach
NamespaceIndentation: None

# Function and control statement formatting
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Include sorting
SortIncludes: true
IncludeBlocks: Regroup

# Line breaks
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# Comments
ReflowComments: true
